<h1>Events</h1>
<ul>
<% @events.each do |event| %>
    <li><%= event.date %> - <% event.location %>     <%= link_to "Attend Event", event_attendees_path(event_attendee_id: current_user.id, attended_event_id: event.id), data: { turbo_method: :post } %></li>
<% end %>
</ul>
<%= link_to "New Event", new_event_path %>